<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ローバー操作</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="control-page">
<header>
    <h1>{{ route_name }}</h1>
    <a href="{{ url_for('logout') }}" class="logout-button">ログアウト</a>
</header>

<div class="control-container">

    <div class="video-container">
        <img id="video-stream" src="{{ url_for('video_feed') }}" width="640" height="480">
    </div>

    <div class="controls">
                <div class="move-controls">
                    <button id="btn-forward" class="arrow-btn up ctr-btn">↑</button>
                    <button id="btn-left" class="arrow-btn left ctr-btn">←</button>
                    <button id="btn-right" class="arrow-btn right ctr-btn">→</button>
                    <button id="btn-backward" class="arrow-btn down ctr-btn">↓</button>
                </div>  <div class="action-controls">
                    <div><button id="btn-record" class="ctr-btn">経路記憶</button></div>
                    <div><button id="btn-photo" class="ctr-btn">写真撮影</button></div>
                    <div><button id="btn-replay" class="ctr-btn">経路再生</button></div>
                </div>
            </div>

<div class="back-arrow">
    <a href="{{ url_for('select_route') }}">&lt;トップに戻る</a>
</div>

<script>
const routeId = {{ route_id }};
</script>
<script src="{{ url_for('static', filename='js/control.js') }}"></script>

</body>
</html>
