<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>健康状態解析ページ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="green-bg">

<header>
    <h1>健康状態解析ページ</h1>
    <a href="{{ url_for('logout') }}" class="logout-button">ログアウト</a> 
</header>

<div class="main-container">

    <h2>データベース内の画像を解析します</h2> 

    <div class="analysis-button-container">

        <a href="/analyze_db" class="action-button">
            画像を解析する
        </a>

        <a href="/analysis_history" class="action-button blue">
            過去の解析結果を見る
        </a>

    </div>

    <div class="back-arrow">
        <a href="{{ url_for('top') }}">&lt; トップに戻る</a>
    </div>

</div>

</body>
</html>